<div class="app__detailed-post detailed-post" >
    <div class="detailed-post__wrapper">
        <div class="detailed-post__tags">
            <p class="detailed-post__tag" *ngFor="let tag of tags">{{tag}}</p>
        </div>
        <p class="detailed-post__cityName">{{post.cityName}}</p>
        <p class="detailed-post__date">
            <img class="detailed-post__clock" src="../../../assets/icons/clock.png" alt="clock" />
            {{post.dateOfCreate }}</p>
            <div class="detailed-post__addition-icons">
                <span (click)="onLocation(post.cityName)"><img class="detailed-post__add-icon"   src="../../../assets/icons/location2.png" alt="location" /></span>        
                <span (click)="onWeatherClick()"><img class="detailed-post__add-icon" src="../../../assets/icons/weather2.png" alt="weather" /></span> 
                <span (click)="onVideoClick()"><img class="detailed-post__add-icon" src="../../../assets/icons/youtube2.png" alt="youtube" /></span>      
            </div>
        <div class="detailed-post__image">
            <img src="{{'data:image/jpg;base64,' + post.photo}}" alt="photo" />
        </div>
        <div class="detailed-post__content">
          
            <p class="detailed-post__description">{{post.description}}</p>
            <span class="detailed-post__created">
                <div class="detailed-post__createdIcon"
                [style.background-image]="'url(' + postCreatedUser?.photoUrl + ')'">
              </div>
                <p>{{postCreatedUser?.firstname + " " +  postCreatedUser?.lastname}}</p>
            </span>
            <div class="detailed-post__icons" >         
                <span class="detailed-post__edit" *ngIf="user.id" (click)="onEdit($event, post)">Edit Post</span>        
                <span class="detailed-post__delete" *ngIf="user.id" (click)="onDelete($event,post)">Delete Post</span> 
           </div>
        
            <div class="detailed-post__comments">
                <p class="detailed-post__comments-title">Comments</p>            
                <div class="detailed-post__comments-content">
                    <div class="detailed-post__comments-item" *ngFor="let comment of comments"> 
                        <div class="detailed-post__comments-wrapper">
                            <div class="detailed-post__comments-icon" [style.background-image]="'url(' + comment?.user?.photoUrl + ')'" ></div>
                            <div class="detailed-post__comments-row">
                                <div class="detailed-post__info">
                                    <h4>{{comment?.user?.firstname}} {{comment?.user?.lastname}}</h4>
                                    <p class="detailed-post__comments-date">
                                        {{comment?.dateOfCreate | dateAgo}}</p>
                                </div>
                                <div class="detailed-post__comments-column">                         
                                    <p class="detailed-post__comments-text"> {{comment.text}}</p>
                                </div>                        
                            </div>
                        </div>
                    </div>
                  
                </div> 
            </div>
            <div class="detailed-post__add-comment add-comment">
                <p class="add-comment__comments-title">Add a comment</p> 
                <textarea placeholder="Add comment" class="add-comment__input" [(ngModel)]="newComment" style="color:rgba(106, 104, 104, 0.8); font-size: 14px" (click)="$event.stopPropagation()"></textarea>
                <button type="button" class="add-comment__submit" (click)="onCommentClick($event)">Submit Comment</button>
                <div *ngIf="!user.id" class="add-comment__warning"  [style.visibility]="!isHidden ? 'visible' : 'hidden'">Please register or login</div>
            </div>
        </div>
       
    </div>
</div>