.app {
  &__weather-wrapper {
    padding-top: 150px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 85vw;
    min-height: 82vh;
    margin: 0 auto;
  }

  &__weather {
    width: 85vw;
    min-height: 80vh;
    padding: 50px 90px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    background: hsl(0 0% 100%);
    line-height: 1.5;
    font-size: 1.5rem;
    font-weight: 300;
    border: 1px solid rgb(228, 225, 225);
    box-shadow: 1.5rem 2.5rem 2rem -2rem hsl(200 50% 20% / 40%);
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    background: hsl(0 0% 100%);
    border: 1px solid #f1f1f1;
    box-shadow: 0px 0px 20px #cccccc57;
  }
}

.weather {
  &__city {
    font-size: 54px;
    display: block;
    line-height: 1.6rem;
    margin-bottom: 20px;
    text-transform: uppercase;
  }

  &__country {
    text-transform: uppercase;
    font-size: 20px;
  }

  &__title {
    position: relative;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 15px;
    color: #444;
    margin-top: 0;
    line-height: 1.5;
    margin-bottom: 10px;
    margin: 0 auto;
  }

  &__row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: start;
    margin-top: 50px;
    padding: 0 50px;
  }

  &__location-details {
    text-transform: uppercase;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    font-size: 22px;
    gap: 50px;

    b {
      margin-right: 15px;
    }
  }


  &__add-info,
  &__current-add-info {
    display: flex;
    gap: 50px;
    margin-left: 90px;
    align-self: center;
    color: #555;
    text-transform: uppercase;
    font-size: 20px;

  }

  &__current-add-info {
    margin-left: 105px;
    font-size: 20px;
  }

  &__current-image {
    width: 180px;
    height: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;

    p {
      font-weight: 600;
      margin-top: -20px;
    }
  }

  &__current {
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: start;
  }

  &__current-temperature {
    margin-left: 15px;
    font-size: 45px;
    align-self: center;
    width: 200px;
  }

  &__current-image {
    margin-right: 60px;
    height: 80%;
  }

  &__weekday {
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    margin-right: 10px;
  }
  &__temp {
    margin-right: 40px;
    width: 120px;
    font-size: 20px;
  }

  &__day {
    padding: 27px 60px;
    border-top: 1px solid rgb(196, 192, 192);
    display: flex;
    width: 100%;
    gap: 60px;
  }
}

@media (max-width: 1100px) {
  .app__weather-wrapper {
    padding-top: 150px;
  }

  .weather {
    padding: 20px;

    &__row {
      flex-direction: column;
    }

    &__current-temperature {
      align-self: start;
      margin-left: 0;
    }

    &__current-temperature {
      align-self: start;
      margin-left: 0;
    }

    &__current {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      font-size: 35px;
      padding: 0px;
      width: 100%;
    }
  &__add-info-item  {
    flex-wrap: wrap;
      font-size: 16px;
      align-self: flex-start;
      gap: 5px;
  }
    &__current-add-info   {
      flex-wrap: wrap;
      font-size: 16px;     
      align-self: flex-end;
      gap: 5px;
      margin-left: 0;
    }

    &__current-image {
      margin-right: 20px;
      height: 60%;
    }

    &__title {
      font-size: 20px;
      text-align: center;
    }

    &__city {
      font-size: 42px;
    }

    &__current-image {
      position: relative;

      p {
        position: absolute;
        top: 160px;
        font-size: 25px;
      }
    }

    &__location-details {
      font-size: 18px;
      gap: 10px;
      justify-content: center;
    }
  }
}
@media(max-width: 1350px) {
  .weather {
    padding: 20px;
    &__day {          
      padding: 10px 0;
    }
  }
}
@media (max-width: 1096px) {
  .weather {
    padding: 15px 30px;
    &__current {
      padding-left: 60px;
    }

    &__current-temperature {
      padding-left: 20px;
    }
    &__days {
      padding-left: 60px;
    }
    &__day {
      flex-wrap: wrap;
      padding: 15px;
      gap: 20px 0;
      padding: 10px 0;
    }
    &__add-info {
      gap: 0;
      margin-left: 0px;
    }
    &__add-info-item {
      margin-right: 10px;
    }
  }
}

@media (max-width: 500px) {
  .app__weather-wrapper {
    padding-top: 150px;
  }

  .weather {
    &__current-image {
      margin-right: 10px;
      height: 40%;

      p {
        margin-left: 5px;
      }
    }

    &__title {
      font-size: 28px;
      text-align: center;
    }

    &__current-temperature {
      //  align-self: start;
      font-size: 24px;
      margin-top: 40px;
      text-align: center;
    }
 

    &__current-add-info {
      gap: 20px;
      font-size: 5px 18px;
    }

    &__country {
      text-align: center;
    }

    &__row {
      justify-content: center;
    }
    &__days {
     padding-left: 0;  
    }
  }
}

@media (max-width: 400px) {
  .app__weather-wrapper {
    padding-top: 120px;
  }
  .weather {
 
    &__current {
      padding-left: 0px;
    }
    &__current-temperature {
      padding-left: 10px;
    }
    &__current-add-info-item {
      display: inline-block;
      width: 100%;
      text-align: center;
      font-size: 14px;
    
    }
    &__current-image {
      padding-left: 40px;
      p {
        margin: 10px 0 15px ;
      }
    } 
    &__location-details {
      align-items: center;
      margin: 15px 0 0 10px;
    }
    &__row {
      align-items: center;
    }
   &__day,
   &__temp {
    text-align: center;
    display: inline-block;
    width: 100%;
   }
   &__weekday{
    font-weight: 600;
   }
  }
}