.app {
    &__weather-wrapper {
      padding-top: 260px;
       display: flex;
       justify-content: center;
       align-items: center;
       width: 85vw; 
       height: 82vh;
       margin: 0 auto;
    }
    &__weather {
      width: 85vw; 
      height: 80vh;
      padding: 50px 90px;
     display: flex;
     flex-direction: column;
     justify-content: start;
     align-items: start;
     background: hsl(0 0% 100%);
     line-height: 1.5;
     font-size: 1.5rem;
     font-weight: 300;
     border: 1px solid rgb(228, 225, 225);
     box-shadow: 1.5rem 2.5rem 2rem -2rem hsl(200 50% 20% / 40%);
     box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
     background: hsl(0 0% 100%);
     border: 1px solid #f1f1f1;
     box-shadow: 0px 0px 20px #cccccc57;
    } 
}
.weather {
  &__city {
    font-size: 54px;
    display: block;
    line-height: 1.6rem;
    margin-bottom: 20px;
    text-transform: uppercase;
  }
  &__country {
    text-transform: uppercase;
    font-size: 20px;
  }

 &__title {
    position: relative;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 15px;
    color: #444;
    margin-top: 0;
    line-height: 1.5;
    margin-bottom: 10px;
    margin: 0 auto;
  }
  
  &__row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: start;
    margin-top: 50px;
    padding: 0 50px;
  }
  
  &__location-details {
    text-transform: uppercase;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    font-size: 22px;
    gap: 50px;
    b {
      margin-right:15px ;
    }
  }

  
  &__add-info,
  &__current-add-info {
    display: flex;
    gap: 50px;
    margin-left: 90px;
    align-self: center;
    color: #555;
    text-transform: uppercase;
    font-size: 20px;
    
  }
  &__current-add-info {
    margin-left: 105px;
    font-size: 20px;
  }
  &__current-image {  
    width: 180px;
    height:180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    p {
      font-weight: 600;
      margin-top: -20px;
    }
  }
  &__current {
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: start;
    padding: 0 0 50px 30px;
  }
  &__current-temperature {
    margin-left: 20px;
    font-size: 45px;  
    align-self: center; 
    width: 200px; 
  }
  &__current-image{
    margin-right: 60px;
    height: 80%;
  }

  &__weekday,
  &__temp{
    margin-right: 40px;
    font-size: 20px;
    font-weight: 500;
    color: #555;
    text-transform: uppercase;
    width: 120px;
    }

  &__day {
    padding: 27px 60px;
    border-top: 1px solid rgb(196, 192, 192);
    display: flex;
    width: 100%;
    gap: 60px;
  }
}