

* {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: "Josefin Sans", sans-serif;
    color: #555;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  button {
    border: none;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: inherit;
    font-size: inherit;
  }
  
  html,
  body {
    height: 100%;
    width: 100%;
  }
  
  input {
    border: none;
  }
  
  input:focus {
    outline: none
  }