<!-- <div class="app__home home">
 <div class="home__banner">
    <video class="home__video" width="100%" height="100%" autoplay loop>
     <source src="../../../assets/video/ocean-action.mp4" type="video/mp4" >
     <source src="" type="video/mp4" >
    </video>
    <div class="home__content">
    <p class="home__title">
    Travel Around Beautiful World
    </p>
    <a class="home__started-btn" routerLink="/posts">Get started </a>
    </div>    
 </div>
</div> -->

<div class="app__home home">
   <div class="home__banner">
      <div class="home__banner">
         <div class="img-slider">
            <div class="slide active">
               <div class="slide-overlay"></div>
               <img src="../../../assets/images/banner/desert.jpg">
               <div class="info">
                  <p class="slider__text">Let's start the journey</p>
               </div>
            </div>
            <div class="slide">
               <div class="slide-overlay"></div>
               <img src="../../../assets/images/banner/turtle.jpg">
               <div class="info">
                  <p class="slider__text">Search your next destination</p>
               </div>
            </div>
            <div class="slide">
               <div class="slide-overlay"></div>
               <img src="../../../assets/images/banner/japan.jpg">
               <div class="info">

                  <p class="slider__text">Open amazing places in the world</p>
               </div>
            </div>
            <div class="slide">
               <div class="slide-overlay"></div>
               <img src="../../../assets/images/banner/travel.jpg">
               <div class="info">
                  <p class="slider__text">Share your experience with the world</p>
               </div>
            </div>
            <div class="navigation">
               <div class="btn active"></div>
               <div class="btn"></div>
               <div class="btn"></div>
               <div class="btn"></div>
            </div>
         </div> 
   </div>
   
            <div class="home__container popular-posts">
               <h2 class="popular-posts__title">All Posts</h2>
               <div class="popular-posts__icon-wrapper">
                  <img class="popular-posts__icon" src="../../../assets/icons/diamond.png" alt="diamond" />
               </div>
               <p class="popular-posts__text">Start your journey with our top travelers and their stories</p>
              <app-swiper-slider></app-swiper-slider>
            </div>

   <div class="home__parallax-container parallax">
      <div class="parallax__wrapper" >
         <div class="parallax__item ">
            <div class="parallax__overlay"></div> 
            <div class="parallax__posts-container">
               <div class="parallax__posts-content">
                   <h2 class="parallax__posts-title posts">Popular posts</h2>
                   <div class="parallax__item-content">                  
                      <div class="posts__icon-wrapper">
                         <img class="posts__icon" src="../../../assets/icons/white-diamond.png" alt="diamond" />
                      </div>
                      <h6 class="posts__text">Our more popular posts with amazing experiences</h6>                  
                   </div>
                </div>
                <div class="posts__slider">
                   <app-popular-posts-slider></app-popular-posts-slider>
                </div>
            </div>
         </div>
         <div class="parallax__item" id="parallax">           
            <div class="parallax__item-content gallery">
               <h2 class="gallery__title">Gallery</h2>
               <div class="popular-posts__icon-wrapper">
                  <img class="popular-posts__icon" src="../../../assets/icons/diamond.png" alt="diamond" />
               </div>
               <h6 class="gallery__text">Here you can enjoy amazing views of our planet</h6> 
               <div class="gallery__content">  
                  <a target="_blank" href="../../../assets/images/tokyo.jpg">
                     <img src="../../../assets/images/tokyo.jpg" alt="photo">
                  </a>               
                  <a target="_blank" href="../../../assets/images/banner/iceland.jpg">
                     <img src="../../../assets/images/banner/iceland.jpg" alt="photo">
                  </a> 
                  <a target="_blank" href="../../../assets/images/banner/ocean.jpg">
                     <img src="../../../assets/images/banner//ocean.jpg" alt="photo">
                  </a> 
                  <a target="_blank" href="../../../assets/images/banner/sands.jpg">
                     <img src="../../../assets/images/banner/sands.jpg" alt="photo">
                  </a> 
                  <a target="_blank" href="../../../assets/images/banner/turkey.jpg">
                     <img src="../../../assets/images/banner/turkey.jpg" alt="photo">
                  </a> 
                  <a target="_blank" href="../../../assets/images/banner/asia.jpg">
                     <img src="../../../assets/images/banner/asia.jpg" alt="photo">
                  </a> 
                  </div>
            </div>

         </div>
         <div class="parallax__item ">
            <div class="parallax__overlay"></div>
            <div class="parallax__item-content">Travel</div>
         </div>
         <div class="parallax__item">
            <div class="parallax__item-content">DIV3</div>
         </div>
         <div class="parallax__item">
            <div class="parallax__overlay"></div>
            <div class="parallax__item-content">DIV4</div>
         </div>
         <div class="parallax__item">
            <div class="parallax__overlay"></div>
            <div class="parallax__item-content">DIV5</div>
         </div>
         <div class="parallax__item">
            <div class="parallax__item-content">DIV6</div>
         </div>
      </div>
   </div>

  </div>