<!-- <div class="app__home home">
 <div class="home__banner">
    <video class="home__video" width="100%" height="100%" autoplay loop>
     <source src="../../../assets/video/ocean-action.mp4" type="video/mp4" >
     <source src="" type="video/mp4" >
    </video>
    <div class="home__content">
    <p class="home__title">
    Travel Around Beautiful World
    </p>
    <a class="home__started-btn" routerLink="/posts">Get started </a>
    </div>    
 </div>
</div> -->

<div class="app__home home">
   <div class="home__banner">
      <div class="home__banner">
         <div class="img-slider">
            <div class="slide active">
               <div class="slide-overlay"></div>
               <img src="../../../assets/images/banner/desert.jpg">
               <div class="info">
                  <p class="slider__text">Let's start the journey</p>
               </div>
            </div>
            <div class="slide">
               <div class="slide-overlay"></div>
               <img src="../../../assets/images/banner/turtle.jpg">
               <div class="info">
                  <p class="slider__text">Search your next destination</p>
               </div>
            </div>
            <div class="slide">
               <div class="slide-overlay"></div>
               <img src="../../../assets/images/banner/japan.jpg">
               <div class="info">

                  <p class="slider__text">Open amazing places in the world</p>
               </div>
            </div>
            <div class="slide">
               <div class="slide-overlay"></div>
               <img src="../../../assets/images/banner/travel.jpg">
               <div class="info">
                  <p class="slider__text">Share your experience with the world</p>
               </div>
            </div>
            <div class="navigation">
               <div class="btn active"></div>
               <div class="btn"></div>
               <div class="btn"></div>
               <div class="btn"></div>
            </div>
         </div> 
   </div>

   <div class="home__parallax-container parallax">
      <div class="parallax__wrapper">
         <div class="home__popular-posts">
           <app-swiper-slider></app-swiper-slider>
         </div>
         <div class="parallax__item">
            <div class="parallax__item-content">DIV2</div>
         </div>
         <div class="parallax__item" id="parallax">           
            <div class="parallax__overlay"></div>
            <div class="parallax__item-content">DIV1</div>
         </div>
         <div class="parallax__item">
            <div class="parallax__item-content">DIV2</div>
         </div>
         <div class="parallax__item">
            <div class="parallax__item-content">DIV3</div>
            <div class="parallax__overlay"></div>
         </div>
         <div class="parallax__item">
            <div class="parallax__item-content">DIV4</div>
         </div>
         <div class="parallax__item">
            <div class="parallax__overlay"></div>
            <div class="parallax__item-content">DIV5</div>
         </div>
         <div class="parallax__item">
            <div class="parallax__item-content">DIV6</div>
         </div>
      </div>
   </div>

  </div>