<div class="app__login-wrapper">
  <form [formGroup]="loginForm" (ngSubmit)="onLogin()" class="app__login form" novalidate>
       <p class="form__title">Sign In</p>
       <div>
          <input class="form__form-control" (ngModelChange)="onInputChange()" type="text" formControlName="username" id="username" name="username" placeholder="Username">
          <div class="form__alert" *ngIf="loginForm.get('username')?.invalid && loginForm.get('username')?.touched; else errorWrapper">
              Enter username</div>
        </div>
    <div>
      <input class="form__form-control" (ngModelChange)="onInputChange()" type="email" formControlName="email" id="email" name="email" placeholder="E-mail">
      <div class="form__alert" *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched; else errorWrapper">
          Enter valid email</div>
    </div>

    <div>
      <input class="form__form-control"  (ngModelChange)="onInputChange()" type="password" formControlName="password" id="password" name="password" placeholder="Password">
      <div class="form__alert" *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched; else errorWrapper">
          Password must be at least 6 characters</div>
    </div>

    <p class="form__error-message">{{errorMessage ||  null}}</p>
    <button id="btn" class="form__submit-btn" [disabled]="loginForm.invalid">Sign in</button>

    <p class="form__notice">Not a member?
      <a class="form__register-link" routerLink="/register">Register</a>
    </p>  
  </form>
  <ng-template #errorWrapper>
      <div class="form__noAlert"></div>
    </ng-template>
    <app-back-arrow></app-back-arrow>
</div>
