<div class="app__form-wrapper"> 
  <app-back-arrow link="/posts" [position]=true></app-back-arrow> 
  <form [formGroup]="editForm" class="app__edit-form form " (ngSubmit)="onSubmit()" novalidate>
      <p class="form__title">Edit Post</p>  
      <div>
          <div class="form__images">
            <div class="form__images-wrapper">
              <img class="form__prev-photo" [src]="post.photo ? 'data:image/jpg;base64,' + post.photo  : '../../../assets/no-image.png'" alt="photo" />
             <p>prev image</p>             </div>
            <div class="form__images-wrapper">
              <img class="form__new-photo" [src]="base64Output ? 'data:image/jpg;base64,' + base64Output  : '../../../assets/no-image.png'" alt="image"/>
              <p>new image</p>
            </div>
             
          </div>
          <div class="form__spinner-wrapper" *ngIf="isLoading">
             <img  class="form__spinner" src="../../../assets/spinner2.gif" alt="spinner"/>
          </div>
          <input class="form__form-control"   type="file" id="photoUrl" name="photoUrl" formControlName="photoUrl"  onchange="onPhotoLoading()" 
          (change)="onFileSelected($event)"
          placeholder="Photo">      
          <div class="form__alert" *ngIf="editForm.get('password')?.invalid && editForm.get('password')?.touched; else errorWrapper">
            Choose photo</div>
        <input class="form__form-control" type="text" id="cityName" name="cityName" formControlName="cityName"
         [(ngModel)]="post.cityName" [value]="post.cityName">
        <div class="form__alert"
          *ngIf="editForm.get('cityName')?.invalid && editForm.get('cityName')?.touched; else errorWrapper">
          <p>Enter city name</p>
        </div>
      </div>
    
      <div>
        <textarea class="form__textarea" type="text" id="description" name="description" formControlName="description"
        [(ngModel)]="post.description" [value]="post.description"></textarea>
        <div class="form__alert" *ngIf="editForm.get('description')?.invalid && editForm.get('description')?.touched; else errorWrapper">
          Enter description
        </div>
      </div>
    
      <div>
        <input class="form__form-control" type="text" id="tags" name="tags" formControlName="tags" [(ngModel)]="post.tags" [value]="post.tags">
        <div class="form__alert" *ngIf="editForm.get('tags')?.invalid && editForm.get('tags')?.touched; else errorWrapper">
          Enter tags</div>
      </div>
  
    <div class="form__buttons">
      <button class="form__submit-btn" [disabled]="editForm.invalid">Edit</button>
      <button class="form__cancel-btn" routerLink="/posts">Cancel</button>
    </div>
    </form>
    <ng-template #errorWrapper>
      <div class="form__noAlert"></div>
    </ng-template>
   
</div>

