
.form {
    z-index: 5;
    width: 636px;
    height: 760px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background: hsl(0 0% 100%);

    text-align: left;
    padding: 30px;
    border: 1px solid #f1f1f1;
    box-shadow: 1px 1px 20px #cccccc57;

    &__images {
        display: flex;
        justify-content: center;
        gap: 0px 30px;
        margin-bottom: 10px;
        img {
            width: 100px;
            height: 100px;
            object-fit: cover;
        }
    }

    &__images-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-bottom: 40px;

        p {
            font-size: 12px;
            color: #444;
            padding: 5px 0;
        }
    }

    &__overlay {
        position: absolute;
        height: 100vh;
        width: 100%;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, .5);
    }

    &__title {
        color: #444;
        line-height: 1.5;
        font-size: 28px;
        font-weight: 600;
        position: relative;
        margin-bottom: 20px;
        padding-bottom: 15px;
    }

    &__title::after {
        position: absolute;
        content: '';
        height: 1px;
        width: 50px;
        background: #333;
        left: 0;
        bottom: 0;
        margin: 0 auto;
        right: 0;
    }

    &__notice {
        margin-bottom: 15px;
        color: #555;
        font-size: 15px;
        margin-bottom: 45px;
    }

    input:focus,
    textarea:focus {
        outline: none !important;
        border-color: rgba(0, 122, 255, 0.5);
        box-shadow: 0 0 5px rgba(0, 122, 255, 0.5);
    }

    &__form-control,
    &__textarea {
        font-size: 14px;
        font-weight: 300;
        background-color: #fff;
        border: 1px solid #eceaea;
        border-radius: 0;
        padding: 10px 25px;
        width: 574px;
        color: #444;
        height: auto;
        box-shadow: none;
    }

    &__textarea {
        height: 120px;
        padding: 20px;
        resize: none;
        font-family: inherit;

        &::-webkit-scrollbar-track {
          background-color: transparent;
        }

        &::-webkit-scrollbar {
          background-color: transparent;
          width: 6px;
          height: 6px;
        }

        &::-webkit-scrollbar-thumb {
          background-color: rgba(16, 41, 70, 0.3);
          border-radius: 6px;
        }
    }

    &__submit-btn,
    &__cancel-btn {
        border: none;
        padding: 7px 25px;
        display: inline-block;
        background: #005294;
        color: #fff;
        transition: hover ease-in-out .3s;
        background: #d60d45;
        border: 1px solid #d60d45;
        font-size: 15px;
     
        &:hover {            
            background-color: #fff;
            color: #d60d45;
            border-color:  #d60d45;
        }
    }
    &__submit-btn {
        margin-right: 40px;
    }
    &__alert {
        color: rgb(209, 17, 17);
        text-align: start;
        min-height: 40px;
        font-size: 12px;
        padding: 3px 0px 0px 20px;
    }

    &__noAlert {
        min-height: 40px;

    }
}

.app__form-wrapper {
    padding-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    background: url(../../../assets/images/banner/mini-banner.jpg) no-repeat;
    background-position: cover;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    background-repeat: no-repeat;
}

.choose-photo {
    $defaultColor: #d60d45;
    $height: 40px;

    position: relative;
    width: 50%;
    height: $height;

    &:after {
        content: attr(data-text);
        font-size: 14px;
        position: absolute;
        top: 0;
        left: 0;
        background: #fff;
        padding: 10px 15px;
        display: block;
        width: calc(100% - 40px);
        pointer-events: none;
        z-index: 20;
        height: $height - 20px;
        line-height: $height - 20px;
        color: #999;
        border-radius: 5px 10px 10px 5px;
        font-weight: 300;
    }

    &:before {
        content: 'Upload';
        position: absolute;
        top: 0;
        right: 0;
        display: inline-block;
        height: 60px;
        background: $defaultColor;
        color: #fff;
        font-weight: 700;
        z-index: 25;
        font-size: 16px;
        line-height: $height;
        padding: 0 15px;
        text-transform: uppercase;
        pointer-events: none;
    }

    &:hover {
        cursor: pointer;

        &:before {
            background: darken($defaultColor, 10%);
        }
    }

    input {
        opacity: 0;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 99;
        height: $height - 20px;
        margin: 0;
        padding: 0;
        display: block;
        cursor: pointer;
        width: 100%;
    }
}
@media (max-width: 750px) {
    .form {
     width: 85%;
     height: 85vh;
     &__input-wrapper {
         width: 100%;
     }
     &__form-control,
     &__textarea {
         width: 100%;
     }
     &__submit-btn {
        margin-right: 10px;
     }
    } 
 }