.posts {
  min-height: 99vh;
  padding: 80px 0 0 0; 
  position: relative;

  &__header {
    padding: 10px 135px;
    display: flex;
    justify-content: space-between;
  }

  &__search-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #333;
    width: 24%;
    padding: 15px;
    margin-bottom: 30px;
  }

  &__search-title {
    width: 100%;

    h3 {
      position: relative;
      background: #D60D45;
      color: #fff;
      border: none;
      padding: 5px 15px;
      display: inline-block;
      font-size: 21px;
      margin-bottom: 15px;
    }

    h3::after {
      position: absolute;
      top: 51%;
      content: '';
      background: #f1f1f1;
      height: 1px;
      width: 275px;
    }
  }

  &__spinner {
    width: 100%;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: red;
  }

  &__search {
    font-size: 14px;
    font-weight: 300;
    background-color: #fff;
    border: 1px solid #eceaea;
    border-radius: 0px;
    padding: 10px 20px;
    // min-width: 100%;
    color: #444444;
    height: auto;
    margin-bottom: 0px;
    box-shadow: none;
  }

  &__search-icon {
    // position: absolute;
    // top: 10px;
    // left: 20px;
    // width: 20px;
    // height: 20px;
  }

  input:focus,
  select:focus {
    outline: none !important;
    border-color: #2195c3;
    ;
    box-shadow: 0 0 2px #2195c3;
    ;
  }

  ::placeholder {
    color: grey;
    opacity: 0.8;
  }

  :-ms-input-placeholder {
    color: grey;
  }

  ::-ms-input-placeholder {
    color: grey;
  }
  &__no-item-wrapper,
  &__error-wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__no-item {
    margin-top: -500px;
    font-size: 50px;
    color: rgb(173, 169, 169);
    text-align: center;
  }

  &__error {
    font-size: 24px;
    color: rgb(136, 27, 27);
    text-align: center;
  }

  &__filter {
    width: 400px;
    height: 40px;
    border: none;
    border-radius: 10px;
    padding: 20px;
  }

  &__new-post {
    border: none;
    position: relative;
    font-size: 15px;
    background: #006dbf;
    display: inline-block;
    padding: 10px 70px;
    color: #fff;
    height: 38px;
    font-weight: 600;

    &:hover {
      background-color: #002147;
    }
  }

  &__list {
    display: flex;
    justify-content: start;
    gap: 30px;
    flex-wrap: wrap;
    margin-bottom: 40px;
    padding-left: 135px;
    min-height: 65vh;
  }

  &__pagination-controls {
    display: flex;
    justify-content: center;
    align-self: flex-end;
    margin-top: 10px;
  }

  &__pages-table {
    display: flex;
    padding: 30px 87px;
    gap: 10px;
  }

  &__pages-label {
    font-size: 15px;
    color: rgba(45, 141, 131, 0.7);
    cursor: pointer;
  }

  &__pages-selector {
    width: 30px;
    height: 30px;
    border: 0;
    border: 0.5px solid #32a8a6 !important;
    background: transparent !important;
    border-radius: 0;
    appearance: none;
    -webkit-appearance: none;
    padding-left: 10px;
    color: green !important;
    background-color: white;

    border-radius: 3px;
    background-position: calc(100% - 20px) calc(1em + 7px),
      calc(100% - 15px) calc(1em + 7px), calc(100% - 2.5em) 0.5em;
    background-size: 5px 5px, 5px 5px, 1px 1.5em;
    background-repeat: no-repeat;
    background-image: linear-gradient(45deg, transparent 50%, gray 50%),
      linear-gradient(135deg, gray 50%, transparent 50%);
    font-family: ProximaNova, Arial, Helvetica Neue, sans-serif;


    &:focus:active {
      background-image: linear-gradient(45deg, grey 50%, transparent 50%),
        linear-gradient(135deg, transparent 50%, grey 50%);
      background-position: calc(100% - 15px) 23px, calc(100% - 20px) 23px,
        calc(100% - 2.5em) 0.5em;
      background-size: 5px 5px, 5px 5px, 1px 1.5em;
      background-repeat: no-repeat;
      outline: 0;
    }

    &:-moz-focus {
      color: transparent;
      text-shadow: 0 0 0 #000;
    }
  }


}

.popup {

  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* The actual popup */
.popup .popuptext {
  visibility: hidden;
  width: 207px;
  background-color: #D60D45;
  color: #fff;
  text-align: center;
  padding: 8px 5px;
  position: absolute;
  z-index: 1;
  margin-top: 50px;
  margin-left: -725px;
  font-size: 15px;
}

.popup .popuptext::after {
  content: "";
}
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}